{% extends 'base.html' %}{% load static %} {% load sass_tags %} {% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/scrollbar.scss' %}" />
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/button-builder.scss' %}" />
<!-- Plugins css Ends-->
{% endblock css %} {% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Button Builder</h5>
          </div>
          <div class="card-body">
            <div class="button-builder-wrap">
              <div class="row">
                <div class="col-md-6 col-lg-7 order-2 order-xl-1">
                  <div class="form-horizontal generator theme-form">
                    <div class="form-group row">
                      <label class="col col-form-label">Buttons Text</label>
                      <div class="col-lg-9">
                        <input class="form-control button-text" type="text" value="Button" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col col-form-label">Element Type</label>
                      <div class="col-lg-9">
                        <div class="element-type grp-btns" data-bs-toggle="buttons">
                          <label class="btn btn-light active">
                            <input type="radio" name="type" value="a" /> Anchor
                          </label>
                          <label class="btn btn-light">
                            <input type="radio" name="type" value="button" />
                            Button
                          </label>
                          <label class="btn btn-light">
                            <input type="radio" name="type" value="input" />
                            Input
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col col-form-label">Button Size</label>
                    <div class="col-lg-9">
                      <div class="button-size grp-btns" data-bs-toggle="buttons">
                        <label class="btn btn-light active">
                          <input type="radio" name="size" value="btn-lg" />
                          Large
                        </label>
                        <label class="btn btn-light">
                          <input type="radio" name="size" value="" /> Default
                        </label>
                        <label class="btn btn-light">
                          <input type="radio" name="size" value="btn-sm" /> Mini
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col col-form-label button-style">Button Style</label>
                    <div class="col-lg-9">
                      <div class="button-color-option">
                        <label class="me-3">
                          <input type="radio" name="color-option" checked="checked" value="bootstrap" />
                          Bootstrap Inbuilt
                        </label>
                        <label>
                          <input type="radio" name="color-option" value="custom" />
                          Custom
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="bootstrap-inbuilt-style">
                    <div class="form-group row">
                      <label class="col col-form-label">Button Type</label>
                      <div class="col-lg-9">
                        <div class="button-color grp-btns" data-bs-toggle="buttons">
                          <label class="btn btn-primary">
                            <input type="radio" name="color" value="btn btn-primary" />
                            Primary
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="color" value="btn btn-secondary" />
                            Seconadary
                          </label>
                          <label class="btn btn-success active">
                            <input type="radio" name="color" value="btn btn-success" />
                            Success
                          </label>
                          <label class="btn btn-info">
                            <input type="radio" name="color" value="btn btn-info" />
                            Info
                          </label>
                          <label class="btn btn-warning">
                            <input type="radio" name="color" value="btn btn-warning" />
                            Warning
                          </label>
                          <label class="btn btn-danger">
                            <input type="radio" name="color" value="btn btn-danger" />
                            Danger
                          </label>
                          <label class="btn btn-light">
                            <input type="radio" name="color" value="btn btn-light" />
                            Light
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col col-form-label">Button State</label>
                      <div class="col-lg-9">
                        <div class="button-state grp-btns" data-bs-toggle="buttons">
                          <label class="btn btn-light active">
                            <input type="radio" name="state" value="normal" />
                            Normal
                          </label>
                          <label class="btn btn-light">
                            <input type="radio" name="state" value="active" />
                            Active
                          </label>
                          <label class="btn btn-light">
                            <input type="radio" name="state" value="disabled" />
                            Disabled
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col col-form-label">Button Width</label>
                    <div class="col-lg-9">
                      <div class="button-width grp-btns" data-bs-toggle="buttons">
                        <label class="btn btn-light active">
                          <input type="radio" name="width" value="" /> Auto
                        </label>
                        <label class="btn btn-light">
                          <input type="radio" name="width" value="btn-block" />
                          Full Width
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="custom-button-color">
                    <div class="form-group row">
                      <label class="col col-form-label" for="textColor">Text & Icon Color</label>
                      <div class="col-lg-9">
                        <input class="form-control input-sm pull-left" id="textColor" type="text" maxlength="6"
                          size="6" />
                        <div class="color-slelector" id="colorSelector1">
                          <div></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col col-form-label" for="topColor">Gradient Top Color</label>
                      <div class="col-lg-9">
                        <input class="form-control input-sm pull-left" id="topColor" type="text" maxlength="6"
                          size="6" />
                        <div class="color-slelector" id="colorSelector2">
                          <div></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col col-form-label" for="bottomColor">Gradient Bottom Color</label>
                      <div class="col-lg-9">
                        <input class="form-control input-sm pull-left" id="bottomColor" type="text" maxlength="6"
                          size="6" />
                        <div class="color-slelector" id="colorSelector3">
                          <div></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col col-form-label" for="bgColor">Background Color</label>
                      <div class="col-lg-9">
                        <input class="form-control input-sm pull-left" id="bgColor" type="text" maxlength="6"
                          size="6" />
                        <div class="color-slelector" id="colorSelector4">
                          <div></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col col-form-label" for="borderTopColor">Border Top Color</label>
                      <div class="col-lg-9">
                        <input class="form-control input-sm pull-left" id="borderTopColor" type="text" maxlength="6"
                          size="6" />
                        <div class="color-slelector" id="colorSelector5">
                          <div></div>
                        </div>
                        <label class="hint-label border-all">
                          <input type="checkbox" name="border-all" /> Use same
                          color for all sides
                        </label>
                      </div>
                    </div>
                    <div class="border-color-separate">
                      <div class="form-group row">
                        <label class="col col-form-label" for="borderHrColor">Border Left & Right Color</label>
                        <div class="col-lg-9">
                          <input class="form-control input-sm pull-left" id="borderHrColor" type="text" maxlength="6"
                            size="6" />
                          <div class="color-slelector" id="colorSelector6">
                            <div></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col col-form-label" for="borderBottomColor">Border Bottom Color</label>
                        <div class="col-lg-9">
                          <input class="form-control input-sm pull-left" id="borderBottomColor" type="text"
                            maxlength="6" size="6" />
                          <div class="color-slelector" id="colorSelector7">
                            <div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" id="iconOption">
                    <label class="col col-form-label">Icon</label>
                    <div class="col-lg-9">
                      <div class="include-icon grp-btns" data-bs-toggle="buttons">
                        <label class="btn btn-light active">
                          <input type="radio" name="includeicon" value="1" /><span class="fa fa-check"></span>
                        </label>
                        <label class="btn btn-light">
                          <input type="radio" name="includeicon" value="0" /><span class="fa fa-times"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row toggle">
                    <label class="col col-form-label">Icon Position</label>
                    <div class="col-lg-9">
                      <div class="fa-position grp-btns" data-bs-toggle="buttons">
                        <label class="btn btn-light active">
                          <input type="radio" name="iconposition" value="left" /><span
                            class="fa fa-arrow-left"></span> Left
                        </label>
                        <label class="btn btn-light">
                          <input type="radio" name="iconposition" value="right" />
                          Right <span class="fa fa-arrow-right"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row toggle">
                    <label class="col col-form-label">Choose Icon</label>
                    <div class="col-lg-9">
                      <div class="nav nav-pills mb-3" id="pills-tab-icon">
                        <a class="btn btn-light" id="fontawesome-tab" data-bs-toggle="pill" href="#pills-fontawesome"
                          aria-controls="pills-fontawesome">Font Awesome</a><a class="btn btn-light" id="icoicon-tab"
                          data-bs-toggle="pill" href="#pills-icoicon" aria-controls="pills-icoicon">Ico Icons</a><a
                          class="btn btn-light active" id="themify-tab" data-bs-toggle="pill" href="#pills-themify"
                          aria-controls="pills-themify">Themify</a>
                      </div>
                      <div class="tab-content">
                        <div class="tab-pane fade" id="pills-fontawesome" role="tabpanel"
                          aria-labelledby="fontawesome-tab">
                          <ul class="the-icons clearfix">
                            {% include 'builders/icon-list/fa-list.html' %}
                          </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-icoicon" role="tabpanel" aria-labelledby="icoicon-tab">
                          <ul class="the-icons clearfix">
                            {% include 'builders/icon-list/ico.html' %}
                          </ul>
                        </div>
                        <div class="tab-pane fade show active" id="pills-themify" role="tabpanel"
                          aria-labelledby="themify-tab">
                          <ul class="the-icons clearfix">
                            {% include 'builders/icon-list/themify.html' %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 order-1 order-xl-2" id="myScrollspy">
                  <div class="button-generator-bx custom-scrollbar">
                    <div class="box button-preview" data-spy="affix" data-offset-top="248">
                      <h2>Bootstrap Button Preview</h2>
                      <div class="bg-transparent" id="result">
                        <a class="btn btn-success btn-lg" href="javascript:void(0)"><span class="fa fa-edit"></span>
                          Button</a>
                      </div>
                    </div>
                    <div class="box" id="htmlBox">
                      <div class="code-wrapper bg-transparent">
                        <pre class="well"><code class="language-markup button-html" id="htmlCode">&lt;a href="javascript:void(0)" class="btn btn-success 
btn-lg"&gt;&lt;i class="icon-edit 
icon-white"&gt;&lt;/i&gt; Bootstrap 
Button Generator&lt;/a&gt;</code></pre>
                        <div class="copy">
                          <a id="copyHTML" href="javascript:void(0);" data-clipboard-action="copy"
                            data-clipboard-target="#htmlCode">Click Here to Copy HTML</a>
                        </div>
                        <p class="sucess-msg" id="htmlAlert">
                          <em>Copied to clipboard...</em>
                        </p>
                      </div>
                    </div>
                    <div id="cssBox">
                      <div class="box">
                        <div class="code-wrapper bg-transparent">
                          <div class="copy mt-0 m-b-20">
                            <a id="copyCSS" href="javascript:void(0);" data-clipboard-action="copy"
                              data-clipboard-target="#cssCode">Click Here to Copy CSS</a>
                          </div>
                          <pre class="well"><code class="language-css button-css" id="cssCode">.btn.btn-success {
color: #ffffff;
background-color: #00c292;
background-image: linear-gradient(to bottom, #00c292, #00ebb1);
border-color: #00c292 #00c292 #00c292;
}
.btn.btn-success:hover {
color: #ffffff;
background-color: #00ebb1;
background-image: linear-gradient(to bottom, #00ebb1, #00ebb1);
border-color: #00c292 #00c292 #00c292;
}</code></pre>
                          <p class="sucess-msg" id="cssAlert">
                            <em>Copied to clipboard...</em>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %} {% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<!-- <script src="{% static 'assets/js/button-builder/colorpicker.js' %}"></script> -->
<script src="{% static 'assets/js/button-builder/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/button-builder/generator.js' %}"></script>
<script src="{% static 'assets/js/button-builder/extend-1.0.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}