{% load static %}
{% load sass_tags %}
<div class="col-xl-3 col-md-6 dash-xl-33 dash-lg-50 box-col-6">
  <div class="card sales-state">
    <div class="row m-0">
      <div class="col-12 p-0">
        <div class="card bg-primary">
          <div class="card-header card-no-border bg-primary">
            <div class="media media-dashboard">
              <div class="media-body">
                <h5 class="mb-0 text-light">Sales Stats</h5>
              </div>
              <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
                <div class="icon-box-show onhover-show-div active">
                  <ul>
                    <li> <a>Sales</a></li>
                    <li> <a>Product</a></li>
                    <li> <a>Revenue</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div id="sales-state-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="sales-small-chart">
          <div class="card-body p-0 m-auto">
            <div class="sales-small sales-small-1"></div>
            <h6>300</h6><span>Watch Sale </span>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="sales-small-chart">
          <div class="card-body p-0 m-auto">
            <div class="sales-small sales-small-2"></div>
            <h6>1120</h6><span>Phone Sale</span>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="sales-small-chart">
          <div class="card-body p-0 m-auto">
            <div class="sales-small sales-small-3"></div>
            <h6>530</h6><span>Tablet Sale </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-5 col-md-6 dash-xl-33 dash-lg-50 box-col-6">
  <div class="card pb-0 invoice-overviwe">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">Invoice Overview</h5>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Today</a></li>
              <li> <a>
                  Yesterday</a></li>
              <li> <a>
                  Tommorow</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div id="invoice-overviwe-chart"></div>
    </div>
  </div>
</div>

<div class="col-xl-4 col-md-6 dash-lgorder-1 dash-xl-33 dash-lg-50 box-col-6">
  <div class="card hot-selling">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">Hot Selling Products</h5>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Today</a></li>
              <li> <a>
                  Yesterday</a></li>
              <li> <a>
                  Tommorow</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive">
        <table class="table table-bordernone">
          <tbody>
            <tr>
              <td>
                <div class="media"><img class="img-fluid me-3 b-r-5"
                    src="{% static 'assets/images/dashboard-2/rectangle-26.png' %}" alt="">
                  <div class="media-body"><a href="/ecommerce_product_page">
                      <h5>Dominoes Coffee Table Game</h5>
                    </a>
                    <p>60k Sales</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">$50</span></td>
            </tr>
            <tr>
              <td>
                <div class="media"> <img class="img-fluid me-3 b-r-5"
                    src="{% static 'assets/images/dashboard-2/rectangle-27.png' %}" alt="">
                  <div class="media-body"><a href="/ecommerce_product_page">
                      <h5>Photive Wireless speakers</h5>
                    </a>
                    <p>35k Sales</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">$25</span></td>
            </tr>
            <tr>
              <td>
                <div class="media"><img class="img-fluid me-3 b-r-5"
                    src="{% static 'assets/images/dashboard-2/rectangle-28.png' %}" alt="">
                  <div class="media-body"><a href="/ecommerce_product_page">
                      <h5>Urbanears Lotsen Speaker</h5>
                    </a>
                    <p>53k Sales</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">$30</span></td>
            </tr>
            <tr>
              <td>
                <div class="media"><img class="img-fluid me-3 b-r-5"
                    src="{% static 'assets/images/dashboard-2/rectangle-29.png' %}" alt="">
                  <div class="media-body"><a href="/ecommerce_product_page">
                      <h5>Plattan 2 Headphones</h5>
                    </a>
                    <p>35k Sales</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">$45 </span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>