{% load static %}
{% load sass_tags %}
<div class="col-xl-5 col-md-12 dash-xl-50 dash-lg-100 dash-39 box-col-6">
  <div class="card ongoing-project recent-orders">
    <div class="card-header card-no-border">
      <div class="media media-dashboard">
        <div class="media-body">
          <h5 class="mb-0">Recent Orders</h5>
        </div>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Done</a></li>
              <li> <a>
                  Pending</a></li>
              <li> <a>
                  Rejected</a></li>
              <li> <a>In Progress</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive">
        <table class="table table-bordernone">
          <thead>
            <tr>
              <th> <span>Product Name</span></th>
              <th> <span>Customer</span></th>
              <th> <span>Price </span></th>
              <th> <span>Quantity</span></th>
              <th> <span>Status</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="media">
                  <div class="square-box me-2"><img class="img-fluid b-r-5"
                      src="{% static 'assets/images/dashboard-2/running-shoe.png' %}" alt=""></div>
                  <div class="media-body ps-2">
                    <div class="avatar-details"><a href="/ecommerce_product_page">
                        <h6>Nike Sports NK</h6>
                      </a><span> Free delivery</span></div>
                  </div>
                </div>
              </td>
              <td class="img-content-box">
                <h6>Harold More</h6><span>UK Desig Team</span>
              </td>
              <td>
                <h6>$99.85</h6><span>Nok </span>
              </td>
              <td>
                <h6>20</h6>
              </td>
              <td>
                <div class="badge badge-light-primary">Done</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="square-box me-2"><img class="img-fluid b-r-5"
                      src="{% static 'assets/images/dashboard-2/hand-bag.png' %}" alt=""></div>
                  <div class="media-body ps-2">
                    <div class="avatar-details"><a href="/ecommerce_product_page">
                        <h6>Women Bag</h6>
                      </a><span> ₹83.65 delivery</span></div>
                  </div>
                </div>
              </td>
              <td class="img-content-box">
                <h6>Daniel Poller</h6><span>UX Ninjas</span>
              </td>
              <td>
                <h6>$79.99</h6><span>Nok </span>
              </td>
              <td>
                <h6>12</h6>
              </td>
              <td>
                <div class="badge badge-light-secondary">Pending</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="square-box me-2"><img class="img-fluid b-r-5"
                      src="{% static 'assets/images/dashboard-2/sun-glasses.png' %}" alt=""></div>
                  <div class="media-body ps-2">
                    <div class="avatar-details"><a href="/ecommerce_product_page">
                        <h6>Sunglasses</h6>
                      </a><span> Free delivery</span></div>
                  </div>
                </div>
              </td>
              <td class="img-content-box">
                <h6>Frank Borker</h6><span>SF Dev Team</span>
              </td>
              <td>
                <h6>$59.20</h6><span>Nok </span>
              </td>
              <td>
                <h6>23</h6>
              </td>
              <td>
                <div class="badge badge-light-danger">Rejected</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="square-box me-2"><img class="img-fluid b-r-5"
                      src="{% static 'assets/images/dashboard-2/shirt.png' %}" alt=""></div>
                  <div class="media-body ps-2">
                    <div class="avatar-details"><a href="/ecommerce_product_page">
                        <h6>Cotton T-shirt</h6>
                      </a><span> ₹283.65 delivery</span></div>
                  </div>
                </div>
              </td>
              <td class="img-content-box">
                <h6>Adam Moris</h6><span>Moscow Office</span>
              </td>
              <td>
                <h6>$49.99</h6><span>Nok </span>
              </td>
              <td>
                <h6>34</h6>
              </td>
              <td>
                <div class="badge badge-light-info">In Progress</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-4 col-md-6 dash-xl-50 dash-29 box-col-6">
  <div class="card our-activities">
    <div class="card-header card-no-border">
      <div class="media media-dashboard">
        <div class="media-body">
          <h5 class="mb-0">Our Activities </h5>
        </div>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Latest </a></li>
              <li> <a>
                  Earlist</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive">
        <table class="table table-bordernone">
          <tbody>
            <tr>
              <td>
                <div class="media">
                  <div class="icon-wrappar"><i class="fa fa-trophy font-primary"> </i></div>
                  <div class="media-body"><a href="#">
                      <h5>Win best seller of the year awaed </h5>
                    </a>
                    <p>Company, San Francisco</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">1 day ago</span></td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="icon-wrappar"><i class="fa fa-check-circle font-secondary"> </i></div>
                  <div class="media-body"><a href="#">
                      <h5>Apporved our product</h5>
                    </a>
                    <p>Elisse joson, San Francisco</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">2 weeks ago</span></td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="icon-wrappar"><i class="fa fa-bookmark font-success"> </i></div>
                  <div class="media-body"><a href="#">
                      <h5>Win best seller of the year awaed </h5>
                    </a>
                    <p>Company, San Francisco</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">3 day ago</span></td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="icon-wrappar"><i class="fa fa-shopping-basket font-warning"> </i></div>
                  <div class="media-body"><a href="#">
                      <h5>Apporved our product in checking</h5>
                    </a>
                    <p>35k Sales</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">2 hours ago</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 dash-xl-50 dash-32 box-col-6">
  <div class="card revenue-category">
    <div class="card-header card-no-border">
      <div class="media">
        <div class="media-body">
          <h5 class="mb-0">Revenue by Category</h5>
        </div>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Done</a></li>
              <li> <a>
                  Pending</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="donut-inner">
        <h5>16,349</h5>
        <h6>2,174 in pending</h6>
      </div>
      <div id="revenue-chart"> </div>
    </div>
  </div>
</div>