{% load static %}
{% load sass_tags %}
<div class="col-xl-5 col-md-6 dash-lgorder-1 dash-xl-50 dash-39 box-col-12">
  <div class="card special-discount">
    <div class="card-body">
      <div class="discount-slide owl-carousel owl-theme">
        <div class="item">
          <div class="row discount-block">
            <div class="col-xl-7 col-lg-12 dash-xl-100">
              <div class="discount-detail">
                <div>
                  <h5> Special Discount <span class="font-primary f-w-500">70%OFF</span></h5>
                  <h3 class="m-auto">Deal of the Day from <span class="font-primary">$75</span></h3>
                  <ul class="timer-sec countdown">
                    <li>
                      <h6 class="font-primary m-0 days"> </h6><span class="font-dark">Days </span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 hours"> </h6><span class="font-dark">Hours</span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 minutes"> </h6><span class="font-dark">Min</span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 seconds"> </h6><span class="font-dark">Sec</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-12 dash-xl-100">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/dashboard-2/image.png' %}"
                  alt=""></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row discount-block">
            <div class="col-xl-7 col-lg-12 dash-xl-100">
              <div class="discount-detail">
                <div>
                  <h5> Special Discount <span class="font-primary f-w-500">70%OFF</span></h5>
                  <h3 class="m-auto">Deal of the Day from <span class="font-primary">$75</span></h3>
                  <ul class="timer-sec countdown">
                    <li>
                      <h6 class="font-primary m-0 days"> </h6><span class="font-dark">Days </span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 hours"> </h6><span class="font-dark">Hours</span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 minutes"> </h6><span class="font-dark">Min</span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 seconds"> </h6><span class="font-dark">Sec</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-12 dash-xl-100">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/dashboard-2/image.png' %}"
                  alt=""></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row discount-block">
            <div class="col-xl-7 col-lg-12 dash-xl-100">
              <div class="discount-detail">
                <div>
                  <h5> Special Discount <span class="font-primary f-w-500">70%OFF</span></h5>
                  <h3 class="m-auto">Deal of the Day from <span class="font-primary">$75</span></h3>
                  <ul class="timer-sec countdown">
                    <li>
                      <h6 class="font-primary m-0 days"> </h6><span class="font-dark">Days </span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 hours"> </h6><span class="font-dark">Hours</span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 minutes"> </h6><span class="font-dark">Min</span>
                    </li>
                    <li>
                      <h6 class="font-primary m-0 seconds"> </h6><span class="font-dark">Sec</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-12 dash-xl-100">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/dashboard-2/image.png' %}"
                  alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-4 col-md-6 dash-xl-50 dash-29 box-col-6">
  <div class="card bg-primary get-support">
    <div class="card-body">
      <div class="support-sec-img"><img class="img-fluid" src="{% static 'assets/images/dashboard-2/support-img.png' %}"
          alt=""></div>
      <div class="support-detail">
        <h5>Get support 24 hours</h5>
        <p>Check Our new service & feature about sales! </p><a class="btn btn-outline-white_color"
          href="/ecommerce_product_page">Interested?</a>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-4 col-md-6 dash-xl-50 dash-31 box-col-6">
  <div class="card total-sale">
    <div class="card-header card-no-border">
      <div class="media">
        <div class="media-body">
          <h5 class="mb-0">Total sale</h5>
        </div>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li><a>Done</a></li>
              <li> <a>
                  Pending</a></li>
              <li> <a>
                  Rejected</a></li>
              <li> <a>In Progress</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="animat-block">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="sale-main">
        <div class="sale-left">
          <h6 class="font-danger"><i class="icon-arrow-down"></i><span>0.45%</span></h6>
          <h5 class="font-primary">680.96</h5>
        </div>
        <div class="sale-right">
          <div id="total-sales-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>