{% load static %}
{% load sass_tags %}
<!-- Loader starts-->
<div class="loader-wrapper">
  <div class="loader">
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-bar"></div>
    <div class="loader-ball"></div>
  </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<section>
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-xl-7 p-0"><img class="bg-img-cover bg-center" src="{% static 'assets/images/login/2.jpg' %}"
          alt="looginpage"></div>
      <div class="col-xl-5 p-0">
        <div class="login-card">
          <form class="theme-form login-form">
            <h4>Login</h4>
            <h6>Welcome back! Log in to your account.</h6>
            <div class="form-group">
              <label>Email Address</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="icon-email"></i>
                </span>
                <input class="form-control" type="email" required="" placeholder="Test@gmail.com">
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
                <div class="show-hide"><span class="show"> </span></div>
              </div>
            </div>
            <div class="form-group d-flex">
              <div class="checkbox">
                <input id="checkbox1" type="checkbox">
                <label class="text-muted" for="checkbox1">Remember password</label>
              </div>
              <a class="link" href="/forget_password">Forgot password?</a>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Sign in</button>
            </div>
            <div class="login-social-title">
              <h5>Sign in with</h5>
            </div>
            <div class="form-group">
              <ul class="login-social">
                <li><a href="https://www.linkedin.com" target="_blank"><i data-feather="linkedin"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i data-feather="twitter"></i></a></li>
                <li><a href="https://www.facebook.com" target="_blank"><i data-feather="facebook"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i data-feather="instagram"> </i></a></li>
              </ul>
            </div>
            <p>Don't have account?<a class="ms-2" href="/register_simple">Create Account</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page-wrapper end-->