{% load static %}
{% load sass_tags %}
<div class="col-xl-6 xl-50 box-col-12">
  <div class="card user-status">
    <div class="card-header pb-0">
      <div class="media">
        <div class="media-body">
          <h5>Product cart</h5>
        </div>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Done</a></li>
              <li> <a>
                  Pending</a></li>
              <li> <a>
                  Rejected</a></li>
              <li> <a>In Progress </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive mb-0">
        <table class="table table-bordernone">
          <thead>
            <tr>
              <th scope="col">Details</th>
              <th scope="col">Qty.</th>
              <th scope="col">Price</th>
              <th class="text-end" scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dummy text usedout print</td>
              <td class="digits">10</td>
              <td class="digits font-primary">$6523</td>
              <td class="text-end"><span class="badge badge-light-success"> Done</span></td>
            </tr>
            <tr>
              <td>Graphic or web designs</td>
              <td class="digits">20</td>
              <td class="digits font-primary">$6523</td>
              <td class="text-end"><span class="badge badge-light-warning"> Pending</span></td>
            </tr>
            <tr>
              <td>Attributed Passage</td>
              <td class="digits">40</td>
              <td class="digits font-primary">$6523</td>
              <td class="text-end"><span class="badge badge-light-success"> Done</span></td>
            </tr>
            <tr>
              <td>Unknown typesetter</td>
              <td class="digits">05</td>
              <td class="digits font-primary">$6523</td>
              <td class="text-end"><span class="badge badge-light-info"> In process</span></td>
            </tr>
            <tr>
              <td>Have scrambled</td>
              <td class="digits">08</td>
              <td class="digits font-primary">$6523</td>
              <td class="text-end"><span class="badge badge-light-warning"> Pending</span></td>
            </tr>
            <tr>
              <td>Type specimen</td>
              <td class="digits">12</td>
              <td class="digits font-primary">$6523</td>
              <td class="text-end"><span class="badge badge-light-warning"> Pending</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-6 xl-50 box-col-12">
  <div class="card employee-status">
    <div class="card-header pb-0">
      <div class="media">
        <div class="media-body">
          <h5>Employee Status</h5>
        </div>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Done</a></li>
              <li> <a>
                  Pending</a></li>
              <li> <a>
                  Rejected</a></li>
              <li> <a>In Progress </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordernone">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Skill Level</th>
              <th scope="col">Experience</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="media"> <img src="{% static 'assets/images/user/4.jpg' %}" alt="">
                  <div class="media-body">
                    <h5>John Deo <span class="text-muted">(14+ Online)</span></h5>
                  </div>
                </div>
              </td>
              <td>Designer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2 Year</td>
            </tr>
            <tr>
              <td>
                <div class="media"><img class="img-radius align-top m-r-15 rounded-circle"
                    src="{% static 'assets/images/user/1.jpg' %}" alt="">
                  <div class="media-body">
                    <h5>Holio Mako <span class="text-muted">(250+ Online)</span></h5>
                  </div>
                </div>
              </td>
              <td>Developer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>3 Year</td>
            </tr>
            <tr>
              <td>
                <div class="media"><img class="img-radius align-top m-r-15 rounded-circle"
                    src="{% static 'assets/images/user/5.jpg' %}" alt="">
                  <div class="media-body">
                    <h5>Mohsib lara<span class="text-muted">(99+ Online)</span></h5>
                  </div>
                </div>
              </td>
              <td>Tester</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>5 Month</td>
            </tr>
            <tr>
              <td>
                <div class="media"><img src="{% static 'assets/images/user/6.jpg' %}" alt="">
                  <div class="media-body">
                    <h5>Hileri Soli <span class="text-muted">(150+ Online)</span></h5>
                  </div>
                </div>
              </td>
              <td>Designer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 30%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>3 Month</td>
            </tr>
            <tr>
              <td>
                <div class="media"><img src="{% static 'assets/images/user/7.jpg' %}" alt="">
                  <div class="media-body">
                    <h5>Pusiz bia <span class="text-muted">(14+ Online)</span></h5>
                  </div>
                </div>
              </td>
              <td>Designer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>5 Year</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>