{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row toast-section">
      <div class="col-12 col-xl-6 col-lg-6 col-md-6">
        <div class="card live-toast height-equal">
          <div class="card-header pb-0">
            <h5>Live toast </h5>
          </div>
          <div class="card-body position-relative">
            <button class="btn btn-primary" type="button" id="liveToastBtn">Show live toast</button>
            <div class="position-fixed bottom-0 end-0 p-3 dmo">
              <div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast">
                <div class="toast-header"><img class="rounded me-2 img-20"
                    src="{% static 'assets/images/avtar/avatar-1.jpg' %}" alt=""><strong class="me-auto">emay
                    walker</strong><small>11 mins ago</small>
                  <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body"><span>Hello, world! This is a toast message.</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6">
        <div class="card height-equal">
          <div class="card-header pb-0">
            <h5>Color schemes </h5>
          </div>
          <div class="card-body">
            <div class="toast defaul-show-toast align-items-center text-white bg-primary position-relative"
              aria-live="assertive" data-bs-autohide="false" aria-atomic="false">
              <div class="toast-body">Hello, world! This is a toast message.
                <button class="btn-close btn-close-white position-absolute top-50 end-0 translate-middle" type="button"
                  data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6">
        <div class="card height-equal-2">
          <div class="card-header pb-0">
            <h5>Custom content</h5>
          </div>
          <div class="card-body">
            <div class="toast defaul-show-toast" aria-live="assertive" data-bs-autohide="false" aria-atomic="false">
              <div class="toast-header"><img class="rounded me-2 img-20"
                  src="{% static 'assets/images/avtar/avatar-1.jpg' %}" alt=""><strong class="left">emay
                  walker</strong><small>11 mins ago</small>
                <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body"><span>Hello, world! This is a toast message.</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6">
        <div class="card height-equal-2">
          <div class="card-header pb-0">
            <h5> Custom content</h5>
          </div>
          <div class="card-body">
            <div class="toast defaul-show-toast" aria-live="assertive" data-bs-autohide="false" aria-atomic="false">
              <div class="toast-body"><span>Hello, world! This is a toast message. </span>
                <div class="mt-2 pt-2 border-top">
                  <button class="btn btn-primary btn-sm">Take action</button>
                  <button class="btn btn-light btn-sm" type="button" data-bs-dismiss="toast" aria-label="Close"> Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card placement-toast">
          <div class="card-header pb-0">
            <h5>Toast Placement</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <select class="form-select changeoption" id="selectToastPlacement">
                  <option value="" selected>Select a position... </option>
                  <option value="top-0 start-0">Top left</option>
                  <option value="top-0 start-50 translate-middle-x">Top center</option>
                  <option value="top-0 end-0">Top right</option>
                  <option value="top-50 start-0 translate-middle-y">Middle left</option>
                  <option value="top-50 start-50 translate-middle">Middle center</option>
                  <option value="top-50 end-0 translate-middle-y">Middle right</option>
                  <option value="bottom-0 start-0">Bottom left</option>
                  <option value="bottom-0 start-50 translate-middle-x">Bottom center</option>
                  <option value="bottom-0 end-0">Bottom right</option>
                </select>
              </div>
            </form>
            <div class="position-relative bd-example-toasts" aria-live="polite" aria-atomic="true">
              <div class="toast-container position-absolute custom-toast-placement" id="toastPlacement">
                <div class="toast">
                  <div class="toast-header"><img class="rounded me-2 img-20"
                      src="{% static 'assets/images/avtar/avatar-1.jpg' %}" alt="..."><strong class="me-auto">emay
                      walker</strong><small>11 mins ago</small></div>
                  <div class="toast-body"> <span> Hello, world! This is a toast message.</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>
<script src="{% static 'assets/js/toasts/toasts-custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}