{% load static %}
{% load sass_tags %}
<div class="col-lg-12">
  <div class="site">
    <div class="site-bd">
      <div class="wrapper">
        <div class="card">
          <div class="card-header pb-0 language-header">
            <h5>Internationalization</h5>
            <div class="main" role="main">
              <div class="dropdown langChoice js-languageSelect p-0">
                <select class="btn  langChoice js-languageSelect">
                  <option>English</option>
                  <option>German</option>
                  <option>Russian</option>
                  <option>Arabic</option>
                </select>
                <!-- <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">English</button> -->
                <!-- <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"><a
                    class="dropdown-item" href="#">English</a><a class="dropdown-item" href="#">German</a><a
                    class="dropdown-item" href="#">Russian</a><a class="dropdown-item" href="#">Arabic</a></div> -->
              </div>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-sm-6">
              <h5 class="hdg hdg_main js-languagePageHdg">Static Sub Nav</h5>
              <div class="masthead" role="banner">
                <ul class="icon-lists border navs-icon hList hList_loose masthead-nav js-languageList">
                  <li><a href="#"><span> Base</span></a></li>
                  <li><a href="#"><span> Advance</span></a>
                    <ul class="hList hList_loose masthead-nav js-languageList">
                      <li class="pl-navs-inline"><a href="#"><span>Scrollable</span></a></li>
                      <li class="pl-navs-inline"><a href="#"><span>Tree View</span></a></li>
                      <li class="pl-navs-inline"><a href="#"><span>Rating</span></a></li>
                    </ul>
                  </li>
                  <li><a href="#"><span data-mlr-text=""> Forms</span></a></li>
                  <li><a href="#"><span data-mlr-text=""> Tables</span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 language-xs">
              <h5 class="hdg hdg_main js-languagePageHdg">Static Sub Nav</h5>
              <div class="masthead" role="banner">
                <ul class="icon-lists border navs-icon hList hList_loose masthead-nav js-languageList">
                  <li><a href="#"><span> Base</span></a></li>
                  <li><a href="#"><span> Advance</span></a>
                    <ul class="hList hList_loose masthead-nav js-languageList">
                      <li class="pl-navs-inline"><a href="#"><span>Scrollable</span></a><span
                          class="pull-right badge badge-primary">New</span></li>
                      <li class="pl-navs-inline"><a href="#"><span>Tree View</span></a><span
                          class="pull-right badge badge-primary">Find</span></li>
                      <li class="pl-navs-inline"><a href="#"><span>Rating</span></a></li>
                    </ul>
                  </li>
                  <li><a href="#"><span data-mlr-text=""> Forms</span></a></li>
                  <li><a href="#"><span data-mlr-text=""> Tables</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>