{% load static %} {% load sass_tags %}
<div class="sidebar-wrapper">
  <div>
    <div class="logo-wrapper">
      <a href="/starter_kit"
        ><img
          class="img-fluid for-light"
          src="{% static 'assets/images/logo/small-logo.png' %}"
          alt="" /><img
          class="img-fluid for-dark"
          src="{% static 'assets/images/logo/small-white-logo.png' %}"
          alt=""
      /></a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
    </div>
    <div class="logo-icon-wrapper">
      <a href="/starter_kit"
        ><img
          class="img-fluid"
          src="{% static 'assets/images/logo-icon.png' %}"
          alt=""
      /></a>
    </div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow">
        <i data-feather="arrow-left"></i>
      </div>
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">
          <li class="back-btn">
            <a href="/starter_kit"
              ><img
                class="img-fluid"
                src="{% static 'assets/images/logo-icon.png' %}"
                alt=""
            /></a>
            <div class="mobile-back text-end">
              <span>Back</span
              ><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
            </div>
          </li>
          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title" href="/"
              ><i data-feather="home"></i><span>Dashboard </span></a
            >
          </li>
          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title" href="#"
              ><i data-feather="anchor"></i><span>Starter kit</span></a
            >
            <ul class="sidebar-submenu">
              <li>
                <a class="submenu-title" href="#"
                  >color version<span class="sub-arrow"
                    ><i class="fa fa-chevron-right"></i></span
                ></a>
                <ul class="nav-sub-childmenu submenu-content">
                  <li><a href="/starter_kit">Layout Light</a></li>
                  <li><a href="/starter_layout_dark">Layout Dark</a></li>
                </ul>
              </li>
              <li>
                <a class="submenu-title" href="#"
                  >Page layout<span class="sub-arrow"
                    ><i class="fa fa-chevron-right"></i></span
                ></a>
                <ul class="nav-sub-childmenu submenu-content">
                  <li><a href="/starter_box_layout">Boxed</a></li>
                  <li><a href="/starter_RTL">RTL</a></li>
                </ul>
              </li>
              <li>
                <a class="submenu-title" href="#"
                  >Footers<span class="sub-arrow"
                    ><i class="fa fa-chevron-right"></i></span
                ></a>
                <ul class="nav-sub-childmenu submenu-content">
                  <li><a href="/starter_footer_light">Footer Light</a></li>
                  <li><a href="/starter_footer_dark">Footer Dark</a></li>
                  <li><a href="/starter_footer_fixed">Footer Fixed</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="sidebar-list">
            <a
              class="sidebar-link sidebar-title"
              href="http://support.pixelstrap.com/help-center"
              target="_blank"
              ><i data-feather="headphones"></i><span>Raise Support</span></a
            >
          </li>
          <li class="sidebar-list">
            <a
              class="sidebar-link sidebar-title"
              href="/documentation_index"
              target="_blank"
              ><i data-feather="file-text"></i><span>Documentation </span></a
            >
          </li>
        </ul>
        <div class="sidebar-img-section">
          <div class="sidebar-img-content">
            <img
              class="img-fluid"
              src="{% static 'assets/images/side-bar.png' %}"
              alt=""
            />
            <h4>Need Help ?</h4>
            <a class="txt" href="https://pixelstrap.freshdesk.com/support/home"
              >Raise ticket at "support@pixelstrap.com"</a
            ><a
              class="btn btn-secondary"
              href="https://themeforest.net/user/pixelstrap/portfolio"
              >Buy Now</a
            >
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
