{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/scrollbar.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/owlcarousel.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/rating.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
    {% include 'layout/breadcrumb.html' %}

    <!-- Container-fluid starts-->
    <div class="container-fluid list-products">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="order-place mb-3 text-start text-md-end">
                            <button type="button" class="btn btn-primary btn-block btn-sm-md"
                                data-bs-toggle="modal" data-bs-target="#tambah">
                                <i class="fas fa-plus me-2"></i>
                                Tambah Pelanggan
                            </button>
                        </div>

                        <div class="table-responsive">
                            <div class="card-body p-0">
                                <table class="table table-bordered display table-striped dataTable no-footer"
                                    id="basic-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">NO</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center d-none d-sm-table-cell">Email</th>
                                            <th class="text-center">Phone</th>
                                            <th class="text-center d-none d-md-table-cell">Address</th>
                                            <th class="text-center actions-col-width">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in customers %}
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td>{{c.get_full_name}}</td>
                                            <td class="d-none d-sm-table-cell">{{c.email}}</td>
                                            <td class="text-center">{{c.phone}}</td>
                                            <td class="d-none d-md-table-cell">{{c.address}}</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#update-{{c.id}}">
                                                    <i class="fas fa-pen"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="#hapus-{{c.id}}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="hapus-{{c.id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Delete customer</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete the customer:
                                                        <h4 class="bold">
                                                            {{c.first_name}} {{c.last_name}}
                                                        </h4>
                                                    </div>
                                                    <div class="card-footer border-0 pt-0" style="text-align: right;">
                                                        <button class="btn btn-warning" type="reset">Cancel</button>
                                                        <a href="{% url 'customers:customers_delete' c.id %}"
                                                            class="text-decoration-none">
                                                            <button type="button" class="btn btn-danger">Delete</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="update-{{c.id}}" tabindex="-1"
                                            aria-labelledby="update-{{c.id}}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="update-{{c.id}}">Update
                                                            Pelanggan
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form theme-form"
                                                            action="{% url 'customers:customers_update' c.id %}"
                                                            method="POST" enctype="multipart/form-data">
                                                            {% load crispy_forms_tags %}
                                                            {% csrf_token %}
                                                            <div class="mb-3">
                                                                <label class="col-form-label pt-0">Nama Depan</label>
                                                                <input type="text" class="form-control"
                                                                    name="first_name" value="{{c.first_name}}" required>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="col-form-label pt-0">Nama
                                                                    Belakang</label>
                                                                <input type="text" class="form-control" name="last_name"
                                                                    value="{{c.last_name}}" required>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="col-form-label pt-0">Email</label>
                                                                <input type="email" name="email" class="form-control"
                                                                    value="{{c.email}}" required>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="col-form-label pt-0">Nomer HP</label>
                                                                <input type="text" name="phone" class="form-control"
                                                                    value="{{c.phone}}" required>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="col-form-label pt-0">Alamat</label>
                                                                <textarea name="address" class="form-control" rows="2"
                                                                    required>{{c.address}}</textarea>
                                                            </div>
                                                            <div class="card-footer border-0 pt-0"
                                                                style="text-align: right;">
                                                                <button class="btn btn-warning"
                                                                    type="reset">Cancel</button>
                                                                <button class="btn btn-primary"
                                                                    type="submit">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="modal fade" id="tambah" tabindex="-1" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Pelanggan
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form theme-form"
                                                    action="{% url 'customers:customers_add' %}" method="POST"
                                                    enctype="multipart/form-data">
                                                    {% load crispy_forms_tags %}
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label class="col-form-label pt-0">Nama Depan</label>
                                                        <input type="text" class="form-control" name="first_name"
                                                            placeholder="John..." required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-form-label pt-0">Nama Belakang</label>
                                                        <input type="text" class="form-control" name="last_name"
                                                            placeholder="Doe..." required>

                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-form-label pt-0">Email</label>
                                                        <input type="email" name="email" class="form-control"
                                                            placeholder="johndoe@gmail.com" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-form-label pt-0">Nomer HP</label>
                                                        <input type="text" name="phone" class="form-control"
                                                            placeholder="(412) 727-2736" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-form-label pt-0">Alamat</label>
                                                        <textarea name="address" class="form-control"
                                                            placeholder="5340 Brett Dr #A Fort Knox, Kentucky(KY), 40121 ..."
                                                            rows="2" required></textarea>
                                                    </div>
                                                    <div class="card-footer border-0 pt-0" style="text-align: right;">
                                                        <button class="btn btn-warning" type="reset">Cancel</button>
                                                        <button class="btn btn-primary" type="submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/rating/jquery.barrating.js' %}"></script>
<script src="{% static 'assets/js/rating/rating-script.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/ecommerce.js' %}"></script>
<script src="{% static 'assets/js/product-list-custom.js' %}"></script>
<!-- Datatables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--Datatables-->
{% endblock scriptcontent %}