{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <!-- chartjs charts row 1-->
      {% include 'charts/chartjs/components/charts-1.html' %}
      <!-- chartjs charts row 2-->
      {% include 'charts/chartjs/components/charts-2.html' %}
      <!-- chartjs charts row 3-->
      {% include 'charts/chartjs/components/charts-3.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/chart/chartjs/chart.min.js' %}"></script>
<script src="{% static 'assets/js/chart/chartjs/chart.custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}