{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/scrollbar.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/owlcarousel.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/rating.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
    {% include 'layout/breadcrumb.html' %}

    <div class="container-fluid list-products">

        <div class="row mb-3">
            <div class="col-12"> <a href="{% url 'products:categories_list' %}" class="w-100 d-block d-md-inline-block">
                    <button type="button" class="btn btn-info font-weight-bold w-100 w-md-auto">
                        <i class="fas fa-long-arrow-alt-left me-2"></i>
                        Go back
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'products:categories_add' %}" method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="form-group col-12 col-md-8">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" name="name" id="inputName"
                                        placeholder="Drinks..." required>
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <label for="inputState">State</label>
                                    <select name="state" class="form-control" id="inputState" required>
                                        {% for status in category_status %}
                                        <option value="{{status.0}}">{{status.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="inputDescription">Description</label>
                                    <input type="text" name="description" class="form-control" id="inputDescription"
                                        placeholder="Drinks and beverages.." required>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success font-weight-bold w-100 w-md-auto mt-3">
                                Create category
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/rating/jquery.barrating.js' %}"></script>
<script src="{% static 'assets/js/rating/rating-script.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/ecommerce.js' %}"></script>
<script src="{% static 'assets/js/product-list-custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}