{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/scrollbar.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/owlcarousel.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/rating.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}
  {% include 'messages.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid list-products">
    <div class="row">
      <!-- Individual column searching (text inputs) Starts-->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="order-place" style="text-align: right;">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#excel">
                Upload Excel
              </button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Tambah Transaksi
              </button>
            </div>
          </div>
          <div class="card-body">
            <!-- <div class="table-responsive"> -->
            <table class="table table-bordered display table-striped dataTable no-footer" id="basic-1">
              <thead>
                <tr>
                  <th rowspan="2">NO</th>
                  <th rowspan="2" scope="col" class="text-center">TANGGAL</th>
                  <!-- <th rowspan="2" scope="col" class="text-center">KATEGORI</th> -->
                  <th rowspan="2" scope="col" class="text-center">KETERANGAN</th>
                  <th colspan="2" scope="col" class="text-center">JENIS</th>
                  <th rowspan="2" scope="col" class="text-center">OPSI</th>
                </tr>
                <tr>
                  <th scope="col" class="text-center">PEMASUKAN</th>
                  <th scope="col" class="text-center">PENGELUARAN</th>
                </tr>
              </thead>
              <tbody>
                {% for u in data %}
                <tr class="text-center">
                  <td>{{forloop.counter}}</td>
                  <td>{{u.tanggal|date:"d-m-Y"}}</td>
                  <!-- <td>{{u.kategori}}</td> -->
                  <td style="width:30%">{{u.keterangan }}</td>
                  <td class="text-center">
                    {% if u.transaksi_choice == "P" %}
                    Rp. {{u.jumlah|floatformat:"0g" }}
                    {% else %}
                    -
                    {% endif %}
                  </td>
                  <td class="text-center">
                    {% if u.transaksi_choice == "L" %}
                    Rp. {{u.jumlah|floatformat:"0g" }}
                    {% else %}
                    -
                    {% endif %}
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                      data-bs-target="#edit_tr">
                      <i class="fa fa-cog"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#hapus_tr">
                      <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#lihat_tr">
                      <i class="fa fa-eye"></i>
                    </button>
                  </td>
                </tr>
                <div class="modal fade" id="hapus_tr" tabindex="-1" aria-labelledby="hapus_tr" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="hapus_tr">
                          Hapus Transaksi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </button>
                      </div>
                      <div class="modal-body">
                        Apakah Kamu yakin ingin menghapus tabel transaksi ini:
                        <h4 class="bold">
                           nomer id {{u.id}}
                        </h4>
                      </div>
                      <div class="card-footer border-0 pt-0" style="text-align: right;">
                        <button class="btn btn-warning" type="reset">Cancel</button>
                        <a href="{% url 'deletetr' u.id %}" class="text-decoration-none">
                          <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="edit_tr" tabindex="-1" aria-labelledby="edit_tr" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="edit_tr">Edit Transaksi</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form class="form theme-form" action="{% url 'updatetr' u.pk %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_tanggal">Tanggal</label>
                                {{ form.tanggal }}
                            </div>
                            <div class="form-group">
                                <label for="id_jenis_transaksi">Jenis</label>
                                {{ form.transaksi_choice  }}
                            </div>
                            <div class="form-group">
                                <label for="id_kategori">Kategori</label>
                                {{ form.kategori }}
                            </div>
                            <div class="form-group">
                                <label for="id_jumlah">Nominal</label>
                                {{ form.jumlah }}
                            </div>
                            <div class="form-group">
                                <label for="id_keterangan">Keterangan</label>
                                {{ form.keterangan }}
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger" id="msg">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <div class="card-footer border-0 pt-0" style="text-align: right;">
                                <button class="btn btn-warning" type="reset">Cancel</button>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Transaksi</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="form theme-form" method="POST" enctype="multipart/form-data">
                      {% load crispy_forms_tags %}
                      {% csrf_token %}
                      <div class="mb-3">
                        <label class="col-form-label pt-0">Tanggal</label>
                        {{form.tanggal}}
                      </div>
                      <div class="mb-3">
                        <label class="col-form-label pt-0">Jenis Transaksi</label>
                        {{form.transaksi_choice}}
                      </div>
                      <div class="mb-3">
                        <label class="col-form-label pt-0">Kategori</label>
                        {{form.kategori}}
                      </div>
                      <div class="mb-3">
                        <label for="id_jumlah" class="col-form-label pt-0">Nominal</label>
                        {{form.jumlah}}
                      </div>
                      <div class="mb-3">
                        <label class="col-form-label pt-0">Keterangan</label>
                        {{form.keterangan}}
                      </div>
                      {% if form.errors %}
                      <div class="alert alert-danger" id="msg">
                        {{ form.errors }}
                      </div>
                      {% endif %}
                      <div class="card-footer border-0 pt-0" style="text-align: right;">
                        <button class="btn btn-warning" type="reset">Cancel</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="excel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="excelLabel">Upload Excel</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="form theme-form" method="POST" enctype="multipart/form-data">
                      {% load crispy_forms_tags %}
                      {% csrf_token %}
                      <div class="mb-3 row">
                        <div class="col-sm-9">
                          {{excel}}
                        </div>
                      </div>
                      {% if excel.errors %}
                      <div class="alert alert-danger" id="msg">
                        {{ excel.errors }}
                      </div>
                      {% endif %}
                      <div class="card-footer border-0 pt-0" style="text-align: right;">
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Individual column searching (text inputs) Ends-->
<!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/rating/jquery.barrating.js' %}"></script>
<script src="{% static 'assets/js/rating/rating-script.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/ecommerce.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'assets/js/product-list-custom.js' %}"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const rupiahInput = document.getElementById('id_jumlah');
    if (!rupiahInput) return;

    function formatRupiah(value) {
        let number_string = value.replace(/[^,\d]/g, '').toString();
        let split = number_string.split(',');
        let sisa = split[0].length % 3;
        let rupiah = split[0].substr(0, sisa);
        let ribuan = split[0].substr(sisa).match(/\d{3}/gi);

        if (ribuan) {
            let separator = sisa ? '.' : '';
            rupiah += separator + ribuan.join('.');
        }

        return rupiah ? 'Rp ' + rupiah : '';
    }

    // Live formatting saat mengetik
    rupiahInput.addEventListener('input', function (e) {
        let cursorPos = this.selectionStart;
        let originalLength = this.value.length;

        this.value = formatRupiah(this.value);

        let newLength = this.value.length;
        this.setSelectionRange(cursorPos + (newLength - originalLength), cursorPos + (newLength - originalLength));
    });

    // Sebelum submit, ubah ke angka polos untuk disimpan Django
    const form = rupiahInput.closest('form');
    if (form) {
        form.addEventListener('submit', function () {
            let raw = rupiahInput.value.replace(/[^0-9]/g, '');
            rupiahInput.value = raw ? raw : '0';
        });
    }

    // Format nilai awal (edit form)
    if (rupiahInput.value) {
        rupiahInput.value = formatRupiah(rupiahInput.value);
    }
});
</script>

<!-- Plugins JS Ends-->
{% endblock scriptcontent %}