{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <!-- google chart  row 1-4 -->
      {% include 'charts/chart-google/components/charts-1.html' %}
      <!-- google chart  row 5-8 -->
      {% include 'charts/chart-google/components/charts-2.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/chart/google/google-chart-loader.js' %}"></script>
<script src="{% static 'assets/js/chart/google/google-chart.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}