{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <!-- sparkline chart rows 1-->
      {% include 'charts/chart-sparkline/components/charts-1.html' %}
      <!-- sparkline chart rows 2-->
      {% include 'charts/chart-sparkline/components/charts-2.html' %}
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/chart/sparkline/sparkline.js' %}"></script>
<script src="{% static 'assets/js/chart/sparkline/sparkline-script.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}