{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Grid Options</h5><span>Bootstrap grid allows building an equal height flexbile blocks easily</span>
          </div>
          <div class="card-body">
            <p>While Bootstrap uses <code>em </code>or <code>rem </code>for defining most sizes, <code>px</code> are
              used for grid breakpoints and container widths. This is because the viewport width is in pixels and does
              not change with the <a href="#">font size</a>.</p>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th class="text-center">Extra small<br><small>&lt;576px</small></th>
                    <th class="text-center">Small<br><small>≥576px</small></th>
                    <th class="text-center">Medium<br><small>≥768px</small></th>
                    <th class="text-center">Large<br><small>≥992px</small></th>
                    <th class="text-center">Extra large<br><small>≥1200px</small></th>
                    <th class="text-center">Extra extra large<br><small class="digits">≥1400px</small></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="text-nowrap" scope="row">Grid behavior</th>
                    <td>Horizontal at all times</td>
                    <td colspan="5">Collapsed to start, horizontal above breakpoints</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">Max container width</th>
                    <td>None (auto)</td>
                    <td>540px</td>
                    <td>720px</td>
                    <td>960px</td>
                    <td>1140px</td>
                    <td>1320px</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">Class prefix</th>
                    <td><code>.col-</code></td>
                    <td><code>.col-sm-</code></td>
                    <td><code>.col-md-</code></td>
                    <td><code>.col-lg-</code></td>
                    <td><code>.col-xl-</code></td>
                    <td><code>.col-xxl-</code></td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row"># of columns</th>
                    <td colspan="6">12</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">Gutter width</th>
                    <td colspan="6">1.5rem (.75rem on left and right)</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">Nestable</th>
                    <td colspan="6">Yes</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">Offsets</th>
                    <td colspan="6">Yes</td>
                  </tr>
                  <tr>
                    <th class="text-nowrap" scope="row">Column ordering</th>
                    <td colspan="6">Yes</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Grid Column</h5>
          </div>
          <div class="card-body">
            <div class="grid-showcase">
              <p>Using a single set of <code>.col-md-*</code> grid classes, you can create a basic grid system that
                starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming
                horizontal on desktop (medium) devices. Place grid columns within any <code>.row</code>.</p>
              <div class="row">
                <div class="col-md-1 text-center"><span>col-md-1</span></div>
                <div class="col-md-2 text-center"><span>col-md-2</span></div>
                <div class="col-md-2 text-center"><span>col-md-2</span></div>
                <div class="col-md-3 text-center"><span>col-md-3</span></div>
                <div class="col-md-4 text-center"><span>col-md-4</span></div>
                <div class="col-md-5 text-center"><span>col-md-5</span></div>
                <div class="col-md-7 text-center"><span>col-md-7</span></div>
                <div class="col-md-6 text-center"><span>col-md-6</span></div>
                <div class="col-md-6 text-center"><span>col-md-6</span></div>
                <div class="col-md-8 text-center"><span>col-md-8</span></div>
                <div class="col-md-4 text-center"><span>col-md-4</span></div>
                <div class="col-md-9 text-center"><span>col-md-9</span></div>
                <div class="col-md-3 text-center"><span>col-md-3</span></div>
                <div class="col-md-10 text-center"><span>col-md-10</span></div>
                <div class="col-md-2 text-center"><span>col-md-2</span></div>
                <div class="col-md-12 text-center"><span>col-md-12</span></div>
              </div>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head7" title="Copy"><i
                    class="icofont icofont-copy-alt"></i></button>
                <pre><code class="language-html" id="example-head7">&lt;!--  Grid Column Copy begin --&gt;
&lt;div class="row"&gt;
&lt;div class="col-md-1 text-center"&gt;
&lt;span &gt;
col-md-1
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-2 text-center"&gt;
&lt;span &gt;
col-md-2
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-2 text-center"&gt;
&lt;span &gt;
col-md-2
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-3 text-center"&gt;
&lt;span &gt;
col-md-3
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-4 text-center"&gt;
&lt;span &gt;
col-md-4
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-5 text-center"&gt;
&lt;span &gt;
col-md-5
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-7 text-center"&gt;
&lt;span &gt;
col-md-7
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-6 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-6 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-8 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-4 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-9 text-center"&gt;
&lt;span &gt;
col-md-9
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-3 text-center"&gt;
&lt;span &gt;
col-md-3
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-10 text-center"&gt;
&lt;span &gt;
col-md-10
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-2 text-center"&gt;
&lt;span &gt;
col-md-2
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-12 text-center"&gt;
&lt;span &gt;
col-md-12
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!--  Grid Column Copy end --&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Row columns</h5>
          </div>
          <div class="card-body">
            <div class="grid-showcase">
              <p>Use the responsive<code>.row-cols-*</code>classes to quickly set the number of columns that best render
                your content and layout. Whereas normal <code>.col-*</code>classes apply to the individual columns
                (e.g., .col-md-4), the row columns classes are set on the parent <code>.row</code>as a default for
                contained columns. With<code>.row-cols-auto</code>you can give the columns their natural width.</p>
              <div class="row row-cols-2 row-cols-lg-3">
                <div class="col"><span>col-lg-3</span></div>
                <div class="col"><span>col-lg-3</span></div>
                <div class="col"><span>col-lg-3</span></div>
                <div class="col"><span>col-lg-3</span></div>
                <div class="col"><span>col-lg-3</span></div>
                <div class="col"><span>col-lg-3</span></div>
                <div class="col-4 col-lg-2"><span>col-4 col-lg-2</span></div>
                <div class="col-4 col-lg-2"><span>col-4 col-lg-2</span></div>
                <div class="col-4 col-lg-2"><span>col-4 col-lg-2</span></div>
                <div class="col-4 col-lg-2"><span>col-4 col-lg-2</span></div>
                <div class="col-4 col-lg-2"><span>col-4 col-lg-2</span></div>
                <div class="col-4 col-lg-2"><span>col-4 col-lg-2</span></div>
              </div>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head2" title="Copy"><i
                    class="icofont icofont-copy-alt"></i></button>
                <pre><code class="language-html" id="example-head2">&lt;!--  Grid Column Copy begin --&gt;
&lt;div class="row"&gt;
&lt;div class="col-md-1 text-center"&gt;
&lt;span &gt;
col-md-1
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-2 text-center"&gt;
&lt;span &gt;
col-md-2
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-2 text-center"&gt;
&lt;span &gt;
col-md-2
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-3 text-center"&gt;
&lt;span &gt;
col-md-3
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-4 text-center"&gt;
&lt;span &gt;
col-md-4
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-5 text-center"&gt;
&lt;span &gt;
col-md-5
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-7 text-center"&gt;
&lt;span &gt;
col-md-7
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-6 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-6 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-8 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-4 text-center"&gt;
&lt;span &gt;
col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-9 text-center"&gt;
&lt;span &gt;
col-md-9
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-3 text-center"&gt;
&lt;span &gt;
col-md-3
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-10 text-center"&gt;
&lt;span &gt;
col-md-10
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-2 text-center"&gt;
&lt;span &gt;
col-md-2
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-12 text-center"&gt;
&lt;span &gt;
col-md-12
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!--  Grid Column Copy end --&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Vertical alignment</h5>
          </div>
          <div class="card-body">
            <div class="grid-showcase grid-align pb-0">
              <p>Use flexbox alignment utilities to vertically and horizontally align columns.</p>
              <div class="row">
                <div class="col align-self-start"><span>One of three columns</span></div>
                <div class="col align-self-center"><span>One of three columns</span></div>
                <div class="col align-self-end"><span>One of three columns</span></div>
              </div>
              <div class="row align-items-start">
                <div class="col"><span>One of three columns</span></div>
                <div class="col"><span>One of three columns</span></div>
                <div class="col"><span>One of three columns</span></div>
              </div>
              <div class="row align-items-center">
                <div class="col"><span>One of three columns</span></div>
                <div class="col"><span>One of three columns</span></div>
                <div class="col"><span>One of three columns</span></div>
              </div>
              <div class="row align-items-end">
                <div class="col"><span>One of three columns</span></div>
                <div class="col"><span>One of three columns</span></div>
                <div class="col"><span>One of three columns</span></div>
              </div>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head3" title="Copy"><i
                    class="icofont icofont-copy-alt"></i></button>
                <pre><code class="language-html" id="example-head3">&lt;!--  Vertical alignment Copy begin --&gt;
&lt;div class="row"&gt;
&lt;div class="col align-self-start"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col align-self-center"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col align-self-end"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row align-self-start"&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row align-self-center"&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row align-self-end"&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;;
&lt;!--  Vertical alignment Copy end --&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Nesting Column</h5>
          </div>
          <div class="card-body">
            <div class="grid-showcase">
              <p>Use flexbox alignment utilities to vertically and horizontally align columns.</p>
              <div class="row">
                <div class="col-sm-9"><span>Level 1: .col-sm-9</span>
                  <div class="row">
                    <div class="col-8 col-sm-6"><span>Level 2: .col-8 .col-sm-6</span></div>
                    <div class="col-4 col-sm-6"><span>Level 2: .col-4 .col-sm-6</span></div>
                  </div>
                </div>
              </div>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head4" title="Copy"><i
                    class="icofont icofont-copy-alt"></i></button>
                <pre><code class="language-html" id="example-head4">&lt;!--  Nesting Column Copy begin --&gt;
&lt;div class="row"&gt;
&lt;div class="col-8 col-sm-6"&gt;
&lt;span &gt;
Level 2: col-8 col-sm-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-4 col-sm-6"&gt;
&lt;span &gt;
Level 2: .col-4 .col-sm-6
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!--  Nesting Column Copy end --&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Order</h5>
          </div>
          <div class="card-body">
            <div class="grid-showcase">
              <p>Use <code>.order-</code> classes for controlling the <strong>visual order</strong> of your content.
                These classes are responsive, so you can set the <code>order</code> by breakpoint (e.g.,
                <code>.order-1.order-md-2</code>). Includes support for <code>1</code> through <code>12</code> across
                all five grid tiers.
              </p>
              <div class="row">
                <div class="col"><span>First, but unordered</span></div>
                <div class="col order-12"><span>Second, but last</span></div>
                <div class="col order-1"><span>Third, but first</span></div>
              </div>
              <div class="row">
                <div class="col order-last"><span>First, but last</span></div>
                <div class="col"><span>Second, but unordered</span></div>
                <div class="col order-first"><span>Third, but first</span></div>
              </div>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head5" title="Copy"><i
                    class="icofont icofont-copy-alt"></i></button>
                <pre><code class="language-html" id="example-head5">&lt;!--  Order Copy begin --&gt;
&lt;div class="row"&gt;
&lt;div class="col"&gt;
&lt;span &gt;
First, but unordered
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col order-12"&gt;
&lt;span &gt;
Second, but last
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col order-1"&gt;
&lt;span &gt;
Third, but first
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&lt;div class="col order-last"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col order-first"&gt;
&lt;span &gt;
One of three columns
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!--  Order Copy end --&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Offset</h5>
          </div>
          <div class="card-body">
            <div class="grid-showcase">
              <p>Move columns to the right using <code>.offset-md-*</code> classes. These classes increase the left
                margin of a column by <code>*</code> columns. For example, <code>.offset-md-4</code> moves
                <code>.col-md-4</code> over four columns.
              </p>
              <div class="row">
                <div class="col-md-4"><span>.col-md-4</span></div>
                <div class="col-md-4 offset-md-4"><span>.col-md-4 .offset-md-4</span></div>
              </div>
              <div class="row">
                <div class="col-md-3 offset-md-3"><span>.col-md-3 .offset-md-3</span></div>
                <div class="col-md-3 offset-md-3"><span>.col-md-3 .offset-md-3</span></div>
              </div>
              <div class="row">
                <div class="col-md-6 offset-md-3"><span>.col-md-6 .offset-md-3</span></div>
              </div>
              <div class="row">
                <div class="col-sm-5 col-md-6"><span>.col-sm-5 .col-md-6</span></div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"><span>.col-sm-5 .offset-sm-2 .col-md-6
                    .offset-md-0</span></div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-6"><span>.col-sm-6 .col-md-5 .col-lg-6</span></div>
                <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"><span>.col-sm-6 .col-md-5 .offset-md-2
                    .col-lg-6 .offset-lg-0</span></div>
              </div>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head6" title="Copy"><i
                    class="icofont icofont-copy-alt"></i></button>
                <pre><code class="language-html" id="example-head6">&lt;!--  Offset Copy begin --&gt;
&lt;div class="row"&gt;
&lt;div class="col-md-4"&gt;
&lt;span &gt;
col-md-4
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-4 offset-md-4"&gt;
&lt;span &gt;
col-md-4 offset-md-4
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&lt;div class="col-md-3 offset-md-3"&gt;
&lt;span &gt;
col-md-3 offset-md-3
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-md-3 offset-md-3"&gt;
&lt;span &gt;
col-md-3 offset-md-3
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&lt;div class="col-md-6 offset-md-3"&gt;
&lt;span &gt;
col-md-6 offset-md-3
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&lt;div class="col-sm-5 col-md-6"&gt;
&lt;span &gt;
col-sm-5 col-md-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"&gt;
&lt;span &gt;
col-sm-5 offset-sm-2 col-md-6 offset-md-0
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&lt;div class="col-sm-6 col-md-5 col-lg-6"&gt;
&lt;span &gt;
col-sm-6 col-md-5 col-lg-6
&lt;/span&gt;
&lt;/div&gt;
&lt;div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"&gt;
&lt;span &gt;
col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0
&lt;/span&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!--  Offset Copy end --&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>

{% endblock scriptcontent %}