{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts                    -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card colors-palette-section">
          <div class="card-header pb-0">
            <h5>Colors Palette</h5>
          </div>
          <div class="card-body pb-0">
            <div class="row">
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-primary b-r-10 text-center">
                    <h5>Primary </h5>
                    <div class="color-name">
                      <h6>#6362E7</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-secondary b-r-10 text-center">
                    <h5>Secondary</h5>
                    <div class="color-name">
                      <h6>#FFC500</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-success b-r-10 text-center">
                    <h5>Success</h5>
                    <div class="color-name">
                      <h6>#7DC006</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-info b-r-10 text-center">
                    <h5>Info</h5>
                    <div class="color-name">
                      <h6>#00B8E9</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-warning b-r-10 text-center">
                    <h5>Warning</h5>
                    <div class="color-name">
                      <h6>#FF8819</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-danger b-r-10 text-center">
                    <h5>Danger</h5>
                    <div class="color-name">
                      <h6>#E52727</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-light-1 b-r-10 text-center">
                    <h5>Light-1</h5>
                    <div class="color-name">
                      <h6>#8F97B2</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-light b-r-10 text-center">
                    <h5 class="font-dark">Light</h5>
                    <div class="color-name">
                      <h6>#F4F6FD</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4">
                <div class="card">
                  <div class="card-body br-10 bg-dark b-r-10 text-center">
                    <h5>Dark</h5>
                    <div class="color-name">
                      <h6>#1E2F65 </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row color-shape">
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Primary Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="primary-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Secondary Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="secondary-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Success Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="success-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Info Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="info-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Warning Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="warning-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Danger Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="danger-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>light Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="light-theme-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 xl-50">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Dark Color Shades</h5>
          </div>
          <div class="card-body">
            <div class="dark-color">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}