{% load static %} {% load sass_tags %}
<div class="sidebar-wrapper">
  <div>
    <div class="logo-wrapper">
      <a href="/"><img class="img-fluid for-light" style="height: 70px; width: 200px;"
          src="{% static 'assets/images/Logo2.png' %}" alt="" />
        <img class="img-fluid for-dark" src="{% static 'assets/images/Logo2.png' %}" alt="" /></a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
    </div>
    <div class="logo-icon-wrapper">
      <a href="/"><img class="img-fluid" style="height: 400px; width: 600px;"
          src="{% static 'assets/images/Logo2.png' %}" alt="" /></a>
    </div>
    <br>

    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow">
        <i data-feather="arrow-left"></i>
      </div>
      <br>
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">
          <li class="back-btn">
            <a href="/"><img class="img-fluid" src="{% static 'assets/images/logo-icon.png' %}" alt="" /></a>
            <div class="mobile-back text-end">
              <span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"> </i>
            </div>
          </li>

          <li class="sidebar-list">
            <a class="sidebar-link {% if url_name == 'pos' %}active{% endif %} sidebar-title link-nav"
              href="{% url 'pos' %}">
              <i data-feather="home"></i><span>Dashboard</span></a>
          <li class="sidebar-list">
            <a class="sidebar-link {% if url_name == 'sales:sales_list' %}active{% endif %}  sidebar-title link-nav"
              href="{% url 'sales:sales_list' %}">
              <i data-feather="trending-up"></i></i><span>POS</span></a>
          </li>
          <li class="sidebar-list">
            <a class="sidebar-link {% if url_name == 'products:products_list' %}active{% endif %}  sidebar-title link-nav"
              href="{% url 'products:products_list' %}">
              <i data-feather="bar-chart-2"></i><span>Data Barang</span></a>
          </li>
          <li class="sidebar-list">
            <a class="sidebar-link {% if url_name == 'customers:customers_list' %}active{% endif %}  sidebar-title link-nav"
              href="{% url 'customers:customers_list' %}">
              <i data-feather="bar-chart-2"></i><span>Data Pelanggan</span></a>
          </li>
          <li class="sidebar-list">
            <a class="sidebar-link {% if url_name == 'products:categories_list' %}active{% endif %}  sidebar-title link-nav"
              href="{% url 'products:categories_list' %}">
              <i data-feather="bar-chart-2"></i><span>Data Kategori</span></a>
          </li>
          <li class="sidebar-list">
            <a class="sidebar-link {% if url_name == 'pegawai:rekap_gaji' %}active{% endif %} sidebar-title link-nav" href="{% url 'pegawai:rekap_gaji' %}">
              <i data-feather="file-text"></i><span>History dan Rekap POS</span></a>
          </li>
          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title link-nav" href="{% url 'laporan' %}">
              <i data-feather="file-text"></i><span>Laporan POS</span></a>
          </li>
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow">
        <i data-feather="arrow-right"></i>
      </div>
    </nav>
  </div>
</div>