{% load static %}
{% load sass_tags %}
<div class="col-xl-6 col-md-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Polar Chart</h5>
    </div>
    <div class="card-body chart-block">
      <canvas id="mypolarareaChart"></canvas>
    </div>
  </div>
</div>
<div class="col-xl-6 col-md-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Radar Chart</h5>
    </div>
    <div class="card-body chart-block">
      <canvas id="myRadarGraph"></canvas>
    </div>
  </div>
</div>