{% load static %}
{% load sass_tags %}
<div class="col-xl-6 col-md-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Doughnut Chart</h5>
    </div>
    <div class="card-body chart-block chart-vertical-center">
      <canvas id="myDoughnutGraph"></canvas>
    </div>
  </div>
</div>
<div class="col-xl-6 col-md-12 box-col-6">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Mixed Chart </h5>
    </div>
    <div class="card-body chart-block chart-vertical-center">
      <canvas id="mymixchart"> </canvas>
    </div>
  </div>
</div>