{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% load humanize %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/scrollbar.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/owlcarousel.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/rating.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
    {% include 'layout/breadcrumb.html' %}

    <!-- Container-fluid starts-->
    <div class="container-fluid list-products">
        <div class="row">
            <!-- Individual column searching (text inputs) Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="order-place" style="text-align: right;">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Tambah Pegawai
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- <div class="table-responsive"> -->
                        <table class="table table-bordered display table-striped dataTable no-footer" id="basic-1">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <th>Nama</th>
                                    <th>Posisi</th>
                                    <th>Gaji Harian</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pegawai in pegawai_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ pegawai.nama }}</td>
                                    <td>{{ pegawai.posisi }}</td>
                                    {% if pegawai.posisi == "Borongan" %}
                                    <td>-</td>
                                    {% else %}
                                    <td>Rp {{ pegawai.gaji_harian }}</td>
                                    {% endif %}
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#edit_tr">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#hapus_tr">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#lihat_tr">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                                <div class="modal fade" id="hapus_tr" tabindex="-1" aria-labelledby="hapus_tr" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="hapus_tr">
                                            Hapus Pegawai</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          Apakah Kamu yakin ingin menghapus tabel transaksi ini:
                                          <h4 class="bold">
                                             nomer id {{pegawai.id}}
                                          </h4>
                                        </div>
                                        <div class="card-footer border-0 pt-0" style="text-align: right;">
                                          <button class="btn btn-warning" type="reset">Cancel</button>
                                          <a href="{% url 'deletetr' pegawai.id %}" class="text-decoration-none">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!-- Modal Edit Transaksi -->
                                <!-- MODAL EDIT -->
                                <div class="modal fade" id="edit_tr" tabindex="-1" aria-labelledby="edit_tr"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5">Edit Pegawai</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST"
                                                    action="{% url 'pegawai:edit_pegawai' pegawai.id %}">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="edit_nama">Nama</label>
                                                        {{ form.fields.nama.initial }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="edit_posisi">Posisi</label>
                                                        {{ form.posisi }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="edit_tanggal_masuk">Tanggal Masuk</label>
                                                        {{ form.tanggal_masuk }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="edit_status">Status</label>
                                                        {{ form.status }}
                                                    </div>

                                                    <div id="gaji-harian-group" class="form-group">
                                                        <label for="edit_gaji">Gaji Harian</label>
                                                        {{ form.gaji_harian }}
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-warning" type="button"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button class="btn btn-primary" type="submit">Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalDetail">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Detail Pegawai</h5>
                                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p><strong>Nama:</strong> <span id="detailNama">{{pegawai.name}}</span>
                                                </p>
                                                <p><strong>Jabatan:</strong> <span
                                                        id="detailJabatan">{{pegawai.posisi}}</span></p>
                                                <p><strong>Gaji Pokok:</strong> Rp <span
                                                        id="detailGaji">{{pegawai.gaji_harian}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Pegawai</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form theme-form" method="POST" enctype="multipart/form-data">
                                            {% load crispy_forms_tags %}
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label class="col-form-label pt-0">Nama</label>
                                                {{form.nama}}
                                            </div>
                                            <div class="mb-3">
                                                <label class="col-form-label pt-0">Posisi</label>
                                                {{form.posisi}}
                                            </div>
                                            <div class="mb-3">
                                                <label class="col-form-label pt-0">Tanggal Masuk</label>
                                                {{form.tanggal_masuk}}
                                            </div>
                                            <div class="mb-3">
                                                <label class="col-form-label pt-0">Status</label>
                                                {{form.status}}
                                            </div>
                                            <div class="mb-3">
                                                <label class="col-form-label pt-0">Gaji harian</label>
                                                {{form.gaji_harian}}
                                            </div>
                                            {% if form.errors %}
                                            <div class="alert alert-danger" id="msg">
                                                {{ form.errors }}
                                            </div>
                                            {% endif %}
                                            <div class="card-footer border-0 pt-0" style="text-align: right;">
                                                <button class="btn btn-warning" type="reset">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function toggleGajiHarian() {
            if ($('#posisi-select').val() === 'Borongan') {
                $('#gaji-harian-group').hide();  // Sembunyikan field
                $('#id_gaji_harian').val('').prop('disabled', true);  // Kosongkan & nonaktifkan
            } else {
                $('#gaji-harian-group').show();
                $('#id_gaji_harian').prop('disabled', false);
            }
        }

        // Panggil saat halaman dimuat
        toggleGajiHarian();

        // Panggil setiap kali posisi berubah
        $('#posisi-select').change(function() {
            toggleGajiHarian();
        });
    });
</script>
{% endblock %}