{% load static %}
{% load sass_tags %}
<div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="media">
        <div class="social-font"><img src="{% static 'assets/images/svg-icon/2.svg' %}" alt=""></div>
        <div class="media-body">
          <h4>Facebook</h4>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <h6 class="font-roboto">Posts</h6>
          <h5 class="counter mb-0 font-roboto font-primary mt-1">6589</h5>
        </div>
        <div class="col text-center">
          <h6 class="font-roboto">Likes</h6>
          <h5 class="counter mb-0 font-roboto font-primary mt-1">6589</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="media">
        <div class="social-font"><img src="{% static 'assets/images/svg-icon/3.svg' %}" alt=""></div>
        <div class="media-body">
          <h4>Twitter</h4>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <h6 class="font-roboto">Posts</h6>
          <h5 class="counter mb-0 font-roboto font-primary mt-1">920</h5>
        </div>
        <div class="col text-center">
          <h6 class="font-roboto">Likes</h6>
          <h5 class="mb-0 font-roboto font-primary mt-1"> <span class="counter">4</span>k</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="media">
        <div class="social-font"><img src="{% static 'assets/images/svg-icon/6.svg' %}" alt=""></div>
        <div class="media-body">
          <h4>Linkedin</h4>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <h6 class="font-roboto">Posts</h6>
          <h5 class="counter mb-0 font-roboto font-primary mt-1">1234</h5>
        </div>
        <div class="col text-center">
          <h6 class="font-roboto">Likes</h6>
          <h5 class="counter mb-0 font-roboto font-primary mt-1">4369</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xl-3 xl-50 col-lg-6 box-col-6">
  <div class="card social-widget-card">
    <div class="card-body">
      <div class="media">
        <div class="social-font"><img src="{% static 'assets/images/svg-icon/4.svg' %}" alt=""></div>
        <div class="media-body">
          <h4>Instagram</h4>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <h6 class="font-roboto">Posts</h6>
          <h5 class="counter mb-0 font-roboto font-primary mt-1">369</h5>
        </div>
        <div class="col text-center">
          <h6 class="font-roboto">Likes</h6>
          <h5 class="counter mb-0 font-roboto font-primary mt-1">3458</h5>
        </div>
      </div>
    </div>
  </div>
</div>