{% load static %}
{% load sass_tags %}
<div class="col-sm-12 col-lg-6 col-xl-4 xl-50 col-md-12 box-col-6">
  <div class="card height-equal">
    <div class="calender-widget">
      <div class="cal-img"></div>
      <div class="cal-date">
        <h5>25<br>APRIL</h5>
      </div>
      <div class="cal-desc text-center card-body">
        <h3>I must explain to you how? </h3>
        <p>Denouncing pleasure and praising pain was born and I will give you a complete account of the system, and
          expound the actual teachings of the great explorer of the truth,Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop Lorem Ipsum is simply.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-lg-6 col-xl-8 xl-50 col-md-12 box-col-6">
  <div class="card">
    <div class="card-header">
      <div class="media">
        <div class="media-body">
          <h5>Contact Us</h5>
        </div>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Done</a></li>
              <li> <a>
                  Pending</a></li>
              <li> <a>
                  Rejected</a></li>
              <li> <a>In Progress </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form card-body">
      <form class="theme-form">
        <div class="form-icon"><i class="icofont icofont-envelope-open"></i></div>
        <div class="mb-3">
          <label for="exampleInputName">Your Name</label>
          <input class="form-control" id="exampleInputName" type="text" placeholder="John Dio">
        </div>
        <div class="mb-3">
          <label class="col-form-label" for="exampleInputEmail1">Email</label>
          <input class="form-control" id="exampleInputEmail1" type="email" placeholder="Demo@gmail.com">
        </div>
        <div class="mb-3">
          <label class="col-form-label" for="exampleInputEmail1">Message</label>
          <textarea class="form-control textarea" rows="3" cols="50" placeholder="Your Message"></textarea>
        </div>
        <div class="text-sm-end">
          <button class="btn btn-primary">SEND IT</button>
        </div>
      </form>
    </div>
  </div>
</div>