{% load static %}
{% load sass_tags %}
<div class="row">
  <div class="col-xl-3 col-md-6 dash-xl-50 dash-32 box-col-6">
    <div class="card revenue-category">
      <div class="card-header card-no-border">
        <div class="media">
          <div class="media-body">
            <h5 class="mb-0">Analisis Keuangan</h5>
          </div>
          <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <ul>
                <li> <a>
                    Pemasukan</a></li>
                <li> <a>
                    Pengeluaran</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="donut-inner">
          <h5>{{count.count}}</h5>
          <h6>Transaksi</h6>
        </div>
        <div id="revenue"> </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 xl-50 box-col-12">
    <div class="card user-status">
      <div class="card-header pb-0">
        <div class="media">
          <div class="media-body">
            <h5>Transaksi Terakhir</h5>
          </div>
          <a href="{% url 'transaksi' %}" class="btn btn-primary btn-sm">Semua Transaksi
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-right icon-xs ml-2">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg></a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive mb-0">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Tanggal</th>
                <th scope="col">Kategori</th>
                <th scope="col">Keterangan</th>
                <th scope="col">Nominal</th>
              </tr>
            </thead>
            <tbody>
              {% for u in data %}
              <tr>
                <td>{{u.tanggal|date:"j M Y"  }} </td>
                <td>{{u.kategori}}</td>
                <td>{{u.keterangan}}</td>
                {% if u.transaksi_choice == "P" %}
                <td><span class="text-success">{{u.jumlah|floatformat:"0g"}}</span></td>
                {% else %}
                <td><span class="text-danger">{{u.jumlah|floatformat:"0g"}}</span></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    // Ganti 'daily', 'monthly', atau 'yearly' sesuai dengan kebutuhan Anda
    fetch(`/analisis_chart/`)
      .then(response => response.json())
      .then(data => {
        var options = {
          labels: data.labels_don,
          series: data.values_don,
          dataLabels: {
            enabled: true,
            formatter: function (val) {
              return val + "%"
            },
          },
          chart: {
            type: 'donut',
            height: 320,
          },
          legend: {
            position: 'bottom'
          },
          dataLabels: {
            enabled: false,
          },
          states: {
            hover: {
              filter: {
                type: 'darken',
                value: 1,
              }
            }
          },
          stroke: {
            width: 0,
          },
          yaxis: {
            labels: {
              formatter: function (value) {
                return 'Rp ' + new Intl.NumberFormat('id-ID').format(value);
              }
            },
          },
          responsive: [
            {
              breakpoint: 1661,
              options: {
                chart: {
                  height: 310,
                }
              }
            },
            {
              breakpoint: 481,
              options: {
                chart: {
                  height: 280,
                }
              }
            }

          ],
          colors: [zetaAdminConfig.primary, zetaAdminConfig.secondary, zetaAdminConfig.success, zetaAdminConfig.info, zetaAdminConfig.warning],
        };
        var chart = new ApexCharts(document.querySelector("#revenue"), options);
        chart.render();
        // revenue chart end
      });

  });
</script>