{% load static %}
{% load sass_tags %}

<div class="row">
  <div class="col-xl-12 col-md-12 box-col-12">
    <div class="card o-hidden">
      <div class="card-header pb-0">
        <div class="media">
          <div class="media-body">
            <h5>Grafik pemasukan dan Pengeluaran</h5>
          </div>
          <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <ul>
                <li> <a>
                    Harian</a></li>
                <li> <a>
                    Bulanan</a></li>
                <li> <a>Tahunan</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bar-chart-widget">
        <div class="bottom-content card-body">
          <div class="row">
            <div class="col-12">
              <div id="chart-widget4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>