{% load static %}
{% load sass_tags %}
<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 dash-xl-50 box-col-6">
    <div class="card revenue-category">
      <div class="card-header card-no-border">
        <div class="media">
          <div class="media-body">
            <h5 class="mb-0">Analisis Keuangan</h5>
          </div>
          <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <ul>
                <li> <a>Pemasukan</a></li>
                <li> <a>Pengeluaran</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="donut-inner">
          <h5>{{count.count}}</h5>
          <h6>Transaksi</h6>
        </div>
        <div id="revenue"> </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 box-col-12">
    <div class="card user-status">
      <div class="card-header pb-0">
        <div class="media">
          <h5>Jumlah Barang</h5>
        </div>
      </div>
      <div class="card-body">
        <div id="chartBar" style="max-width: 700px; margin: 35px auto;"></div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  fetch("{% url 'product_summary' %}")
    .then(response => response.json())
    .then(data => {
      const productNames = data.product_names;
      const productTotals = data.product_totals;

      const options = {
        chart: { type: 'bar', height: 200 },
        plotOptions: {
          bar: {
            vertical: true,
            distributed: true,
            barHeight: '60%',
          }
        },
        series: [{ name: 'Jumlah (kg)', data: productTotals }],
        xaxis: { categories: productNames },
        dataLabels: { enabled: true },
        colors: ['#1E90FF', '#FF5733', '#28B463', '#9B59B6', '#F4D03F']
      };

      const chart = new ApexCharts(document.querySelector("#chartBar"), options);
      chart.render();
    })
    .catch(error => console.error('Error fetching data:', error));
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    // Ganti 'daily', 'monthly', atau 'yearly' sesuai dengan kebutuhan Anda
    fetch("{% url 'analsis_chart' %}")
      .then(response => response.json())
      .then(data => {
        var options = {
          labels: data.labels_don,
          series: data.values_don,
          dataLabels: {
            enabled: false,
            formatter: function (val) {
              return val + "%"
            },
          },
          chart: {
            type: 'donut',
            height: 320,
          },
          legend: {
            position: 'bottom'
          },
          states: {
            hover: {
              filter: {
                type: 'darken',
                value: 1,
              }
            }
          },
          stroke: {
            width: 0,
          },
          yaxis: {
            labels: {
              formatter: function (value) {
                return 'Rp ' + new Intl.NumberFormat('id-ID').format(value);
              }
            },
          },
          responsive: [
            {
              breakpoint: 1661,
              options: {
                chart: {
                  height: 310,
                }
              }
            },
            {
              breakpoint: 481,
              options: {
                chart: {
                  height: 280,
                }
              }
            }

          ],
          colors: ['#1E90FF', '#FF5733', '#28B463', '#9B59B6', '#F4D03F']
        };
        var chart = new ApexCharts(document.querySelector("#revenue"), options);
        chart.render();
        // revenue chart end
      });

  });
</script>