{% load static %} {% load sass_tags %}
<style>
  /* Sidebar link warna hitam */
  .sidebar-menu .nav-link {
    color: #000;
    /* hitam */
    font-weight: 500;
  }

  /* Hover atau active */
  .sidebar-menu .nav-link:hover,
  .sidebar-menu .nav-link.active {
    color: #031530;
    /* bisa diganti sesuai tema */
    background-color: #f0f0f0;
    /* opsional, highlight */
    border-radius: 5px;
  }
</style>
<div class="sidebar-wrapper">
  <div>
    <div class="logo-wrapper">
      <a href="/"><img class="img-fluid for-light" style="height: 70px; width: 200px;"
          src="{% static 'assets/images/Logo2.png' %}" alt="" />
        <img class="img-fluid for-dark" src="{% static 'assets/images/Logo2.png' %}" alt="" /></a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
    </div>
    <div class="logo-icon-wrapper">
      <a href="/"><img class="img-fluid" style="height: 400px; width: 600px;"
          src="{% static 'assets/images/Logo2.png' %}" alt="" /></a>
    </div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow">
        <i data-feather="arrow-left"></i>
      </div>
      <br>
      <div id="sidebar-menu">
        <ul class="nav flex-column sidebar-menu">
          <li class="nav-item mb-2">
            <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
              <i data-feather="home" class="me-2"></i> Dashboard
            </a>
          </li>

          <!-- Manajemen POS -->
          <li class="nav-item mb-2">
            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
              href="#Product" role="button" aria-expanded="false">
              <span><i data-feather="shopping-cart" class="me-2"></i>Manajemen POS</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled ps-4" id="Product">
              <li class="mb-1"><a class="nav-link" href="{% url 'sales:sales_list' %}">POS</a></li>
              <li class="mb-1"><a class="nav-link" href="{% url 'products:products_list' %}">Data Barang</a></li>
              <li class="mb-1"><a class="nav-link" href="{% url 'customers:customers_list' %}">Data Pelanggan</a></li>
              <li class="mb-1"><a class="nav-link" href="{% url 'products:categories_list' %}">Data Kategori</a></li>
              <li class="mb-1"><a class="nav-link" href="{% url 'products:categories_list' %}">History dan Rekap POS</a>
              </li>
            </ul>
          </li>

          <!-- Transaksi -->
          <li class="nav-item mb-2">
            <a class="nav-link {% if url_name == 'transaksi' %}active{% endif %}" href="{% url 'transaksi' %}">
              <i data-feather="activity" class="me-2"></i> Transaksi
            </a>
          </li>
           <li class="nav-item mb-2">
            <a class="nav-link {% if url_name == 'stockin_list' %}active{% endif %}" href="{% url 'stockin_list' %}">
              <i data-feather="activity" class="me-2"></i> Data Barang Masuk
            </a>
          </li>
          <!-- Manajemen Hutang -->
          <li class="nav-item mb-2">
            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
              href="#Hutang" role="button" aria-expanded="false">
              <span><i data-feather="credit-card" class="me-2"></i>Manajemen Hutang</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled ps-4" id="Hutang">
              <li class="mb-1"><a class="nav-link" href="{% url 'hutang' %}">Hutang Ortu</a></li>
              <li class="mb-1"><a class="nav-link" href="{% url 'hutangpeg' %}">Hutang Pegawai</a></li>
            </ul>
          </li>

          <!-- Profit -->
          <li class="nav-item mb-2">
            <a class="nav-link {% if url_name == 'profit' %}active{% endif %}" href="{% url 'profit' %}">
              <i data-feather="trending-up" class="me-2"></i> Profit
            </a>
          </li>

          <!-- Tabungan -->
          <li class="nav-item mb-2">
            <a class="nav-link {% if url_name == 'tabungan' %}active{% endif %}" href="{% url 'tabungan' %}">
              <i data-feather="bar-chart-2" class="me-2"></i> Tabungan
            </a>
          </li>

          <!-- Laporan -->
          <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'laporan' %}">
              <i data-feather="file-text" class="me-2"></i> Laporan
            </a>
          </li>
        </ul>

      </div>
      <div class="right-arrow" id="right-arrow">
        <i data-feather="arrow-right"></i>
      </div>
    </nav>
  </div>
</div>